<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet" />
    <script src="https://js.stripe.com/v3"></script>
    <script>
        var stripePublicKey = '<%= stripePublicKey %>'
    </script>
    <title>Marketplace</title>
</head>

<body>

    <main class="container">

        <h1 class="mt-1 text-warning" style="text-shadow: 2px 2px 2px black;">Welcome to Marketplace!</h1>

        <form class="d-print-block gap-2 p-2 rounded-3" method="#">
            <% products.items.forEach((product) => { %>
                <div class="mb-3 label-row text-white p-2 product-row d-flex justify-content-between rounded-3">
                    <section class="pt-3 ps-2">
                        <label for="item1" class="form-label fw-bold pe-2"><%= product.name %></label>
                        <span class="product-price pe-5">$<%= product.price / 100 %></span>
                        <span class="product-id" hidden><%= product.priceTag %></span>
                        <input type="number" value="0" min="0" max="5" class="product-quantity ps-2" onclick="getTotal()" />
                    </section>

                    <section class="pe-5">
                        <img src="<%= product.imgFile %>" alt="<%= product.imgDesc %>" class="img-thumbnail" width="150" height="150" />
                    </section>
                </div>
            <% }) %>
            <div class="container">

                <div class="row justify-content-between">
                    <div class="col">
                        <h3 class="text-primary" style="text-shadow: 1px 1px 1px black;">Total</h3>
                        <p class="text-primary" style="text-shadow: 1px 1px 1px black;" id="totalPrice">$0.00</p>

                        <script>
                            
                            
                            // function for getting the total price of selected items
                            function getTotal() {

                                // grabbing a product row and storing it in a variable
                                var productSections = document.getElementsByClassName('product-row')
                                var total = 0

                                // inputing various information from products.json and adding it to the form sections
                                for (var i = 0; i < productSections.length; i++) {
                                    var productSelected = productSections[i]
                                    var productPrice = productSelected.getElementsByClassName('product-price')[0]
                                    var price = parseFloat(productPrice.innerText.replace('$', ''))

                                    var productQuantity = productSelected.getElementsByClassName('product-quantity')[0]
                                    var quantity = productQuantity.value

                                    // calculating total here
                                    total += price * quantity
                                }

                                // rounding the total and outputing
                                total = Math.round(total*100) / 100
                                document.getElementById('totalPrice').innerText = '$' + total.toFixed(2)
                            }
                        </script>

                    </div>
                    <div class="col-2 d-flex align-items-center text-center">
                        <button class="btn btn-primary btn-outline-info text-white border border-0 rounded-2" id="checkout-button" role="link" type="button">Purchase</button>
                    </div>
                </div>
                <div id="error-message"></div>
            </div>

        </form>

            <div id="error-message"></div>
            <script>

                (function() {
                
                    // grabing stripe public key
                  var stripe = Stripe(stripePublicKey);
                

                  // variable and even listener for checkout button
                  var checkoutButton = document.getElementById('checkout-button');
                  checkoutButton.addEventListener('click', function () {
                    /*
                     * When the customer clicks on the button, redirect
                     * them to Checkout.
                     */

                     // grabbing product sections for the for each loop
                     var productSections = document.getElementsByClassName('product-row')
                     // array for storing cart items
                     const lineItems = []
                     // for loop grabbing cart items
                     for (var i = 0; i < productSections.length; i++) {

                        // grabbin different variables need for checkout
                    var productSelected = productSections[i];
                    var priceId = productSelected.getElementsByClassName("product-id")[0].innerHTML;
                    var productQuantity = productSelected.getElementsByClassName('product-quantity')[0];
                    var quantity = productQuantity.value;

                    // if the item as a quantity adding it to listItems for checkout
                    if (quantity > 0) {

                        lineItems.push({ price: priceId, quantity: parseInt(quantity)});
                    };


                    };

                    // redirecting to checkout page
                    stripe.redirectToCheckout({
                      lineItems,
                      mode: 'payment',
                 
                      // redericts based on what happens
                      successUrl: 'http://localhost:3000/success',
                      cancelUrl: 'http://localhost:3000/',
                    })
                    .then(function (result) {
                      if (result.error) {
                        /*
                         * If `redirectToCheckout` fails due to a browser or network
                         * error, display the localized error message to your customer.
                         */
                        var displayError = document.getElementById('error-message');
                        displayError.textContent = result.error.message;
                      }
                    });
                  });
                })();
                </script>
    </main>

</body>

</html>